# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code specific
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# macOS
.DS_Store

# Temporary and Backup Files
*.tmp
*.bak
*.swp
